<div class="card container">
  <div class="card-body row">
      <div class="col-lg"><p class="groove">Date</p></div>
      <div class="col-lg"><p class="groove">Description</p></div>
      <div class="col-lg"><p class="groove">Amount</p></div>
      <div class="col-lg"><p class="groove">Commands</p></div>
      
  </div>
  <div class="row" *ngFor="let pay of pays">
    <div class="col-lg">
      <input maxlength=minDate required name="paymentDate" readonly="true"
       type="date" [(ngModel)]=pay.date
      class="form-control inputstl">
    </div>
    <div class="col-lg">
      <input maxlength=minDate required name="paymentDescription" readonly="true"
       type="text" [(ngModel)]=pay.description
      class="form-control inputstl">
    </div>
    <div class="col-lg">
      <input maxlength=minDate required name="paymentDescription" readonly="true"
      type="text" [(ngModel)]=pay.amount
     class="form-control inputstl">
    </div>
    <div class="col-lg">
        <button class="btn btn-info btn-sm" title="edit pay" (click)="update(pay)">Edit</button>
         &nbsp;&nbsp;
        <button class="btn btn-danger btn-sm" title="delete pay" (click)="delete(pay)">Delete</button>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
</div>